/* Reset styles */
html
  box-sizing border-box

*, *:before, *:after
  box-sizing inherit

body
  margin 0

body
  --sidebar-size 300px

#app-container
  height 100vh

.flex-layout-tool
  display grid
  grid-template-rows 100%
  grid-template-columns auto 16px var(--sidebar-size)
  height 100%

.flex-layout
  width calc(100vw - 16px - var(--sidebar-size))

.flex-layout-divider
  background-color black
  cursor: ew-resize;

.flex-layout-tool-sidebar
  padding 8px
